 <div class="container events">
      <div class="row">

        <div class="col-md-6">
          <h1> Today's Special </h1>
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img src="img/north1.jpg" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img src="img/chineese1.jpg" alt="...">
              </a>                
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img src="img/south3.jpg" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img src="img/south1.jpg" alt="...">
              </a>                
            </div>
          </div>
        </div>        

        <div class="col-md-6">
          <h1> All time favourite </h1>
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img src="img/juice3.jpg" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
               <img src="img/coffee.jpg" alt="...">
              </a>                
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
               <img src="img/juice2.jpg" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img src="img/south1.jpg" alt="...">
              </a>                
            </div>
          </div>
        </div>

      </div>
    </div>