<div class="container events">
      <div class="row">

        <div class="col-md-6">
          <h1> Others </h1>
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>                
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>                
            </div>
          </div>
        </div>        

        <div class="col-md-6">
          <h1> Ogara</h1>
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>                
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>  
            </div>            
            <div class="col-md-6">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x140" alt="...">
              </a>                
            </div>
          </div>
        </div>

      </div>
    </div>